<html>
	<head>
		<meta charset="utf-8">
		<title>Cal ACLU</title>
		<meta name="description" content="This field contains information about your page. It is usually around two sentences long.">
		<meta name="author" content="Conor Sheils">
	</head>
	<body>
		<h1> Welcome to Cal ACLU! </h1>
		<img src="https://raw.githubusercontent.com/fiveseriesisbetter/calACLU-backend/main/calaclu/header1.jpg?token=AP7AB6VLPGVRXVB7FS6ODZS7VQPRI">
		<h3> Cal ACLU is a collegiate chapter of the American Civil Liberties Union (ACLU). 
The ACLU's stated mission is to defend and preserve the individual rights and liberties guaranteed by the Constitution and laws of the United States. As a nonpartisan organization, the ACLU is also the nation's largest non-profit law firm and one of the leading activist organizations. Some of the ACLU's most famous legal battles include Japanese-American internment during WWII, the desegregation struggle, women's reproductive rights, and numerous free speech issues.
As CalACLU, our work follows and complements that of the overarching ACLU. We work to educate and advocate for students and local communities regarding current events, legislation, and major issues. We remain in close contact with the ACLU of Northern California, as well as the Berkeley/North East Bay Chapter of the ACLU. We host panels and workshops, rallies and events, and aim to advocate for civil liberties through our work. </h3>
		{% if events_list %}
		<ul>
			{% for event in events_list %}
			<span style="font-size:14px">
				<span style="font-family:arial,helvetica neue,helvetica,sans-serif">
					{{ forloop.counter }}. <strong>{{ event.name }}</strong>
				</span>
			</span>
			<span style="font-size:13px">
				<em>
					{{ event.date|date:"l, F jS" }}, {{ event.time }}<br />
					{{ event.location }}
				</em>
			</span>
			{% endfor %}
		</ul>
		{% else %}
		<p>We currently don't have events planned - check back later!</p>
		{% endif %}
	</body>
</html>