<html >
	<head>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
		<style type="text/css">
			p { font-family: Raleway; margin-left:28em; text-align:center; margin-right:28em; line-height:2em; margin-bottom:-5px; padding-bottom: 60px;}
			h1 {color:#3060AA; text-align:center; font-family: Arial; font-size: 4.5em; margin-bottom: -6px}
			h3 {color:#3060AA; text-align:center; font-family: Arial; font-size: 2.5em; padding-top: 4em; margin-top: -5px; margin-bottom:1em;}
			button {margin-top:3.5em; font-family:Raleway; font-size:0.7em; padding-top:0.8em; padding-bottom:0.8em; padding-left:0.8em; padding-right:0.8em;}
			.center {
				display: block;
				margin-left: auto;
				margin-right: auto;
				width: 13%;
			}
			.fill {
				margin:auto;
				width: 100%;
			}
			.column {
				float: left;
				width: 25%;
			}
			.row::after {
				content: "";
				clear: both;
				display: table;
			}
		</style>
		<meta charset="utf-8" style = "font-family:Raleway">
		<title>Cal ACLU</title>
		<meta name="description" content="This field contains information about your page. It is usually around two sentences long.">
	</head>
	<body>
		<img src="https://static.wixstatic.com/media/a6c9c4_0caeb7b455f942c0842b06b7719bb6a6~mv2.png/v1/fill/w_566,h_240,al_c,usm_0.66_1.00_0.01/ACLUNC.png", class = "center">
		<h1><strong>CAL ACLU</strong></h1>
		<p style = "font-size: 18px;"> University of California, Berkeley Chapter of the American Civil Liberties Union. </p>
		<img src = "https://static.wixstatic.com/media/a6c9c4_b64c120319154838bb03c4e848ed5655~mv2.jpg/v1/fill/w_1910,h_613,fp_0.37_0.43,q_85/a6c9c4_b64c120319154838bb03c4e848ed5655~mv2.jpg", class = "fill">
		<div style = "background-color:#EEF9FF; ">
			<h3 > <b> ABOUT </b> </h3>
			<p> Cal ACLU is a collegiate chapter of the American Civil Liberties Union (ACLU). The ACLU's stated mission is to defend and preserve the individual rights and liberties guaranteed by the Constitution and laws of the United States. As a nonpartisan organization, the ACLU is also the nation's largest non-profit law firm and one of the leading activist organizations. Some of the ACLU's most famous legal battles include Japanese-American internment during WWII, the desegregation struggle, women's reproductive rights, and numerous free speech issues. 
			<br>
			As CalACLU, our work follows and complements that of the overarching ACLU. We work to educate and advocate for students and local communities regarding current events, legislation, and major issues. We remain in close contact with the ACLU of Northern California, as well as the Berkeley/North East Bay Chapter of the ACLU. We host panels and workshops, rallies and events, and aim to advocate for civil liberties through our work. 
			</p>
		</div>
		<img src = "https://static.wixstatic.com/media/a6c9c4_e919308b7c184f9a9d8c4b363d606827~mv2.png/v1/fill/w_1021,h_322,fp_0.50_0.50,lg_1/a6c9c4_e919308b7c184f9a9d8c4b363d606827~mv2.png", class = "fill">

		<h3> <b> COMMITTEES </b></h3>
		<div class="row">
			<div class="column">
				<img src="https://static.wixstatic.com/media/a6c9c4_5c0e3acf3c6e4cdeae94ce00a506af64~mv2.png/v1/fill/w_591,h_449,fp_0.50_0.50,lg_1/a6c9c4_5c0e3acf3c6e4cdeae94ce00a506af64~mv2.png" alt="Criminal Justice Reform" style="width:100%">
			</div>
			<div class="column">
				<img src="https://static.wixstatic.com/media/a6c9c4_8b461cf1a0084b15bf7363ae635c0f35~mv2.png/v1/fill/w_582,h_442,fp_0.50_0.50,lg_1/a6c9c4_8b461cf1a0084b15bf7363ae635c0f35~mv2.png" alt="Gender Equity" style="width:100%">
			</div>
			<div class="column">
				<img src="https://static.wixstatic.com/media/nsplsh_5377353767415f666f6a51~mv2_d_3018_1987_s_2.jpg/v1/fill/w_896,h_680,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/nsplsh_5377353767415f666f6a51~mv2_d_3018_1987_s_2.jpg" alt="Immigration Response" style="width:100%">
			</div>
			<div class="column">
				<img src="https://static.wixstatic.com/media/a6c9c4_05194d41f714481f9dd928332d43e1eb~mv2.jpg/v1/fill/w_672,h_510,fp_0.50_0.50,q_80/a6c9c4_05194d41f714481f9dd928332d43e1eb~mv2.jpg" alt="Technology and Privacy" style="width:100%">
			</div>
		</div>

		<div class="row">
			<p style = "float:left; margin:auto; background-color:#FFFFFF; width:25%; padding-top:3em; padding-bottom:5em; margin-top:-1px; font-size:1.3em;"> CRIMINAL JUSTICE REFORM
				<br>
				<br>
				<button style="background-color:#000000; color:#FFFFFF">Learn More</button>
			</p>
			<p style = "float:left; margin:auto; background-color:#3060AA; width:25%; padding-top:3em; padding-bottom:5em; margin-top:-1px; font-size:1.3em; color:#FFFFFF"> GENDER EQUITY 
				<br>
				<br>
				<button>Learn More</button>
			</p>
			<p style = "float:left; margin:auto; background-color:#FF5555; width:25%; padding-top:3em; padding-bottom:5em; margin-top:-1px; font-size:1.3em; color:white"> IMMIGRATION RESPONSE
				<br>
				<br>
				<button>Learn More</button>
			</p>
			<p style = "float:left; margin:auto; background-color:#EEF9FF; width:25%; padding-top:3em; padding-bottom:5em; margin-top:-1px; font-size:1.3em;"> TECHNOLOGY AND PRIVACY
				<br>
				<br>
				<button style="background-color:#000000; color:#FFFFFF">Learn More</button>
			</p>
			</div>
		</div>







		<h3> Upcoming Events </h3>
		{% if events_list %}
		<ul>
			{% for event in events_list %}
			<span>
					{{ forloop.counter }}. <strong>{{ event.name }}</strong>
			</span>
			<span>
				<em>
					{{ event.date|date:"l, F jS" }}, {{ event.time }}<br />
					{{ event.location }}
				</em>
			</span>
			{% endfor %}
		</ul>
		{% else %}
		<p>We currently don't have events planned - check back later!</p>
		{% endif %}
		<a href="https://www.ocf.berkeley.edu">
			<img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin-dark.svg" alt="Hosted by the OCF" style="border: 0; text-align: right;" />
		</a>
	</body>
</html>